# More Pandas

### Introduction
You have decided that you want to start your own animal shelter, but you want to get an idea of what that will entail and to get more information about planning. In this lecture, we'll look at a real data set collected by Austin Animal Center over several years and use our pandas skills from the last lecture and learn some new ones in order to explore this data further.

#### Our goals today are to be able to: <br/>

- Apply and use `.map()` and `.applymap()` from the Pandas library
- Explain what a groupby object is and split a DataFrame using `.groupby()`
- Explain lambda functions and use them on a DataFrame
- Reshape a DataFrame using joins, merges, pivoting, stacking, and melting
- Use one-hot encoding to make use of categorical variables

#### Getting started

Let's take a moment to download and to examine the [Austin Animal Center data set](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Outcomes/9t4d-g238/data). What kinds of questions can we ask this data and what kinds of information can we get back?

Let's take a look at the data:

In [1]:
import numpy as np
import pandas as pd
animals = pd.read_csv('Austin_Animal_Center_Outcomes.csv')
animals.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A794011,Chunk,05/08/2019 06:20:00 PM,05/08/2019 06:20:00 PM,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,07/18/2018 04:02:00 PM,07/18/2018 04:02:00 PM,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A720371,Moose,02/13/2016 05:59:00 PM,02/13/2016 05:59:00 PM,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
3,A674754,NaN,03/18/2014 11:47:00 AM,03/18/2014 11:47:00 AM,03/12/2014,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby
4,A689724,*Donatello,10/18/2014 06:52:00 PM,10/18/2014 06:52:00 PM,08/01/2014,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Black

What do we notice about this dataset?

In [3]:
animals.isnull()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,False,False,False,False,False,False,True,False,False,False,False,False
1,False,False,False,False,False,False,True,False,False,False,False,False
2,False,False,False,False,False,False,True,False,False,False,False,False
3,False,True,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,True,False,False,False,False,False
5,False,False,False,False,False,False,True,False,False,False,False,False
6,False,True,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,True,False,False,False,False,False
8,False,True,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False
11,False,True,False,False,False,False,False,False,False,False,False,False
12,False,True,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,True,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,True,False,False,False,False,False
17,False,True,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,True,False,False,False,False,False
19,False,True,False,False,False,False,True,False,False,False,False,False
20,False,True,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,True,False,False,False,False,False
22,False,False,False,False,False,False,True,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,True,False,False,False,False,False
25,False,True,False,False,False,False,False,False,False,False,False,False
26,False,True,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,True,False,False,False,False,False
28,False,False,False,False,False,False,True,False,False,False,False,False
29,False,True,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
115574,False,False,False,False,False,False,True,False,False,False,False,False
115575,False,False,False,False,False,False,False,False,False,False,False,False
115576,False,True,False,False,False,False,False,False,False,False,False,False
115577,False,False,False,False,False,False,False,False,False,False,False,False
115578,False,False,False,False,False,False,True,False,False,False,False,False
115579,False,False,False,False,False,False,False,False,False,False,False,False
115580,False,False,False,False,False,False,False,False,False,False,False,False
115581,False,False,False,False,False,False,False,False,False,False,False,False
115582,False,False,False,False,False,False,False,False,False,False,False,False
115583,False,False,False,False,False,False,False,False,False,False,False,False
115584,False,False,False,False,False,False,False,False,False,False,False,False
115585,False,False,False,False,False,False,True,False,False,False,False,False
115586,False,False,False,False,False,False,True,False,False,False,False,False
115587,False,False,False,False,False,False,True,False,False,False,False,False
115588,False,False,False,False,False,False,True,False,False,False,False,False
115589,False,True,False,False,False,False,True,False,False,False,False,False
115590,False,False,False,False,False,False,True,False,False,False,False,False
115591,False,False,False,False,False,False,True,False,False,False,False,False
115592,False,False,False,False,False,False,True,False,False,False,False,False
115593,False,False,False,False,False,False,True,False,False,False,False,False
115594,False,False,False,False,False,False,True,False,False,False,False,False
115595,False,False,False,False,False,False,True,False,False,False,False,False
115596,False,False,False,False,False,False,False,False,False,False,False,False
115597,False,False,False,False,False,False,True,False,False,False,False,False
115598,False,False,False,False,False,False,True,False,False,False,False,False
115599,False,False,False,False,False,False,True,False,False,False,False,False
115600,False,False,False,False,False,False,True,False,False,False,False,False
115601,False,False,False,False,False,False,False,False,False,False,False,False
115602,False,False,False,False,False,False,True,False,False,False,False,False
115603,False,False,False,False,False,False,True,False,False,False,False,False

In [4]:
animals.isnull().sum()

Animal ID               0
Name                36214
DateTime                0
MonthYear               0
Date of Birth           0
Outcome Type            6
Outcome Subtype     63374
Animal Type             0
Sex upon Outcome        3
Age upon Outcome       28
Breed                   0
Color                   0
dtype: int64

In [5]:
animals.fillna('null')

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A794011,Chunk,05/08/2019 06:20:00 PM,05/08/2019 06:20:00 PM,05/02/2017,Rto-Adopt,null,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,07/18/2018 04:02:00 PM,07/18/2018 04:02:00 PM,07/12/2017,Adoption,null,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A720371,Moose,02/13/2016 05:59:00 PM,02/13/2016 05:59:00 PM,10/08/2015,Adoption,null,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
3,A674754,null,03/18/2014 11:47:00 AM,03/18/2014 11:47:00 AM,03/12/2014,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby
4,A689724,*Donatello,10/18/2014 06:52:00 PM,10/18/2014 06:52:00 PM,08/01/2014,Adoption,null,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Black
5,A680969,*Zeus,08/05/2014 04:59:00 PM,08/05/2014 04:59:00 PM,06/03/2014,Adoption,null,Cat,Neutered Male,2 months,Domestic Shorthair Mix,White/Orange Tabby
6,A684617,null,07/27/2014 09:00:00 AM,07/27/2014 09:00:00 AM,07/26/2012,Transfer,SCRP,Cat,Intact Female,2 years,Domestic Shorthair Mix,Black
7,A742354,Artemis,01/22/2017 11:56:00 AM,01/22/2017 11:56:00 AM,01/20/2010,Return to Owner,null,Cat,Neutered Male,7 years,Domestic Shorthair Mix,Blue/White
8,A681036,null,06/11/2014 05:11:00 PM,06/11/2014 05:11:00 PM,06/09/2014,Transfer,Partner,Cat,Intact Male,2 days,Domestic Shorthair Mix,Brown Tabby
9,A803149,*Birch,08/31/2019 04:26:00 PM,08/31/2019 04:26:00 PM,08/08/2019,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair,Brown Tabby
10,A698049,Luigi,03/16/2015 02:50:00 PM,03/16/2015 02:50:00 PM,06/05/2014,Transfer,Partner,Cat,Spayed Female,9 months,Domestic Medium Hair Mix,Black/White
11,A773792,null,06/05/2018 03:30:00 PM,06/05/2018 03:30:00 PM,05/05/2018,Euthanasia,Suffering,Cat,Intact Male,4 weeks,Domestic Shorthair Mix,Orange Tabby
12,A725795,null,05/03/2016 12:39:00 PM,05/03/2016 12:39:00 PM,04/15/2016,Euthanasia,Underage,Other,Unknown,2 weeks,Opossum,Gray
13,A730621,*Liza,09/10/2016 06:59:00 PM,09/10/2016 06:59:00 PM,05/18/2016,Adoption,null,Cat,Spayed Female,3 months,Domestic Shorthair Mix,Calico
14,A765349,Einstein,06/08/2018 01:04:00 PM,06/08/2018 01:04:00 PM,01/18/2009,Adoption,Foster,Dog,Neutered Male,9 years,Chihuahua Shorthair Mix,Tricolor
15,A760697,Star,10/26/2017 03:22:00 PM,10/26/2017 03:22:00 PM,10/23/2007,Transfer,Partner,Dog,Intact Male,10 years,Yorkshire Terrier Mix,Brown/Black
16,A767231,Millie,02/25/2018 05:19:00 PM,02/25/2018 05:19:00 PM,02/25/2017,Return to Owner,null,Dog,Spayed Female,1 year,Jack Russell Terrier/Chihuahua Shorthair,White/Tan
17,A758536,null,09/23/2017 11:09:00 AM,09/23/2017 11:09:00 AM,03/18/2017,Transfer,Snr,Cat,Intact Female,6 months,Domestic Shorthair Mix,Brown Tabby
18,A754682,Big Girl,07/23/2017 11:58:00 AM,07/23/2017 11:58:00 AM,07/22/2009,Return to Owner,null,Dog,Spayed Female,8 years,Great Pyrenees Mix,White
19,A801106,null,08/16/2019 02:05:00 PM,08/16/2019 02:05:00 PM,05/06/2019,Adoption,null,Cat,Neutered Male,3 months,Domestic Shorthair,Orange Tabby
20,A766700,null,02/15/2018 08:59:00 AM,02/15/2018 08:59:00 AM,02/15/2017,Euthanasia,Rabies Risk,Other,Unknown,1 year,Bat Mix,Brown
21,A740079,Terry,12/26/2016 01:45:00 PM,12/26/2016 01:45:00 PM,12/10/2013,Return to Owner,null,Dog,Neutered Male,3 years,Australian Cattle Dog Mix,Black/White
22,A757919,*Tofu,10/05/2017 03:36:00 PM,10/05/2017 03:36:00 PM,09/08/2015,Adoption,null,Dog,Spayed Female,2 years,Beagle Mix,Brown/White
23,A789298,*Mr Wrinkles,04/23/2019 11:59:00 AM,04/23/2019 11:59:00 AM,02/15/2019,Adoption,Foster,Dog,Neutered Male,2 months,Labrador Retriever Mix,Brown/White
24,A773866,*Nitro,08/23/2018 06:05:00 PM,08/23/2018 06:05:00 PM,06/06/2016,Adoption,null,Dog,Neutered Male,2 years,Labrador Retriever/Staffordshire,Black/White
25,A765701,null,01/25/2018 09:39:00 AM,01/25/2018 09:39:00 AM,01/25/2017,Euthanasia,Rabies Risk,Other,Unknown,1 year,Bat Mix,Brown
26,A699884,null,04/03/2015 04:16:00 PM,04/03/2015 04:16:00 PM,04/03/2013,Euthanasia,Suffering,Cat,Unknown,2 years,Domestic Shorthair Mix,Gray
27,A725530,King,06/09/2016 02:50:00 PM,06/09/2016 02:50:00 PM,10/30/2015,Adoption,null,Dog,Neutered Male,7 months,Pit Bull Mix,Brown Brindle/White
28,A722378,Canine,03/31/2016 07:08:00 PM,03/31/2016 07:08:00 PM,03/15/2010,Return to Owner,null,Dog,Neutered Male,6 years,German Shepherd Mix,Brown/Black
29,A707743,null,07/18/2015 09:00:00 AM,07/18/2015 09:00:00 AM,04/17/2015,Transfer,SCRP,Cat,Intact Male,3 months,Domestic Shorthair Mix,Black/White
...,...,...,...,...,...,...,...,...,...,...,...,...
115574,A812046,Smervo,02/19/2020 01:39:00 PM,02/19/2020 01:39:00 PM,07/15/2015,Return to Owner,null,Cat,Neutered Male,4 years,Domestic Shorthair,Brown Tabby
115575,A806232,Puppy,02/19/2020 01:50:00 PM,02/19/2020 01:50:00 PM,10/07/2017,Adoption,Foster,Dog,Neutered Male,2 years,Plott Hound/Australian Cattle Dog,Black
115576,A813835,null,02/19/2020 01:11:00 PM,02/19/2020 01:11:00 PM,02/19/2018,Euthanasia,Suffering,Other,Unknown,2 years,Coyote,Brown
115577,A797267,Osa,02/19/2020 01:43:00 PM,02/19/2020 01:43:00 PM,06/11/2013,Adoption,Foster,Cat,Spayed Female,6 years,Domestic Medium Hair,Black
115578,A813834,Ani,02/19/2020 01:10:00 PM,02/19/2020 01:10:00 PM,11/19/2018,Return to Owner,null,Dog,Intact Male,1 year,Border Collie,Black/White
115579,A813399,*Mildred,02/19/2020 02:05:00 PM,02/19/2020 02:05:00 PM,02/09/2018,Transfer,Partner,Dog,Intact Female,2 years,Australian Cattle Dog Mix,White/Tan
115580,A812432,Pharo,02/19/2020 02:05:00 PM,02/19/2020 02:05:00 PM,07/22/2019,Transfer,Partner,Dog,Neutered Male,6 months,Pit Bull,White/Brown
115581,A813347,Sunshine,02/19/2020 02:07:00 PM,02/19/2020 02:07:00 PM,04/08/2019,Transfer,Partner,Dog,Intact Female,10 months,Pit Bull Mix,Blue/White
115582,A813404,*Cardi B,02/19/2020 02:06:00 PM,02/19/2020 02:06:00 PM,02/09/2017,Transfer,Partner,Dog,Spayed Female,3 years,Pit Bull,Black
115583,A722780,Kev,07/13/2016 08:53:00 AM,07/13/2016 08:53:00 AM,03/22/2014,Adoption,Foster,Dog,Neutered Male,2 years,Chihuahua Shorthair Mix,Tan/Black
115584,A813405,*Offset,02/19/2020 02:06:00 PM,02/19/2020 02:06:00 PM,02/09/2019,Transfer,Partner,Dog,Neutered Male,1 year,Pit Bull,Black
115585,A813490,Bean,02/19/2020 04:23:00 PM,02/19/2020 04:23:00 PM,02/11/2019,Adoption,null,Dog,Neutered Male,1 year,Jack Russell Terrier/Chihuahua Shorthair,White/Brown
115586,A813481,Malo,02/19/2020 04:51:00 PM,02/19/2020 04:51:00 PM,02/11/2019,Adoption,null,Dog,Neutered Male,1 year,Pit Bull,White/Blue
115587,A810929,Adelaide,02/19/2020 04:39:00 PM,02/19/2020 04:39:00 PM,12/23/2018,Adoption,null,Dog,Spayed Female,1 year,Australian Cattle Dog,White
115588,A813320,*Birch,02/19/2020 04:58:00 PM,02/19/2020 04:58:00 PM,02/07/2018,Adoption,null,Dog,Spayed Female,2 years,Alaskan Husky,White
115589,A813640,null,02/19/2020 05:24:00 PM,02/19/2020 05:24:00 PM,02/14/2019,Adoption,null,Dog,Neutered Male,1 year,Chihuahua Shorthair,Black/White
115590,A813552,Bean,02/19/2020 05:50:00 PM,02/19/2020 05:50:00 PM,05/13/2019,Adoption,null,Dog,Spayed Female,9 months,German Shepherd,Brown/Tan
115591,A813562,Banjo,02/19/2020 05:20:00 PM,02/19/2020 05:20:00 PM,02/13/2018,Adoption,null,Dog,Neutered Male,2 years,Catahoula Mix,Brown Merle/White
115592,A812819,*Cobb,02/19/2020 07:26:00 PM,02/19/2020 07:26:00 PM,12/22/2019,Adoption,null,Dog,Neutered Male,1 month,Labrador Retriever Mix,Brown Brindle/White
115593,A813735,Capo,02/19/2020 07:08:00 PM,02/19/2020 07:08:00 PM,02/17/2015,Return to Owner,null,Dog,Intact Male,5 years,German Shepherd,Cream/Black
115594,A813737,Reyna,02/19/2020 07:07:00 PM,02/19/2020 07:07:00 PM,02/17/2017,Return to Owner,null,Dog,Intact Female,3 years,German Shepherd,Tan/Black
115595,A812900,Severus,02/04/2020 07:02:00 PM,02/04/2020 07:02:00 PM,02/19/2016,Adoption,null,Dog,Neutered Male,3 years,Pit Bull,Black/White
115596,A811038,*Jim,02/19/2020 06:02:00 PM,02/19/2020 06:02:00 PM,12/24/2019,Adoption,Foster,Dog,Neutered Male,1 month,Labrador Retriever Mix,Tan/White
115597,A812047,Ru Ru,01/21/2020 05:13:00 PM,01/21/2020 05:13:00 PM,01/15/2018,Adoption,null,Dog,Neutered Male,2 years,Chihuahua Shorthair,Brown/Tan
115598,A813564,Teddy,02/19/2020 06:32:00 PM,02/19/2020 06:32:00 PM,02/13/2018,Adoption,null,Dog,Neutered Male,2 years,Australian Kelpie,Tricolor
115599,A753695,Zeus,02/19/2020 06:52:00 PM,02/19/2020 06:52:00 PM,07/09/2014,Return to Owner,null,Dog,Neutered Male,5 years,Pit Bull Mix,Blue
115600,A809880,Donte,02/19/2020 06:45:00 PM,02/19/2020 06:45:00 PM,12/03/2018,Adoption,null,Dog,Neutered Male,1 year,Siberian Husky,Cream/Black
115601,A812822,*Waldorf,02/19/2020 06:58:00 PM,02/19/2020 06:58:00 PM,12/22/2019,Adoption,Foster,Dog,Spayed Female,1 month,Labrador Retriever Mix,Black/Blue Tick
115602,A810818,Papi,02/19/2020 06:27:00 PM,02/19/2020 06:27:00 PM,10/06/2019,Adoption,null,Dog,Neutered Male,4 months,Pointer,Black/Blue Tick
115603,A813147,Doggy,02/11/2020 12:11:00 PM,02/11/2020 12:11:00 PM,02/05/2018,Return to Owner,null,Dog,Intact Male,2 years,Australian Kelpie Mix,Black/Brown

In [6]:
animals.fillna(np.nan)

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A794011,Chunk,05/08/2019 06:20:00 PM,05/08/2019 06:20:00 PM,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,07/18/2018 04:02:00 PM,07/18/2018 04:02:00 PM,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A720371,Moose,02/13/2016 05:59:00 PM,02/13/2016 05:59:00 PM,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
3,A674754,NaN,03/18/2014 11:47:00 AM,03/18/2014 11:47:00 AM,03/12/2014,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby
4,A689724,*Donatello,10/18/2014 06:52:00 PM,10/18/2014 06:52:00 PM,08/01/2014,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Black
5,A680969,*Zeus,08/05/2014 04:59:00 PM,08/05/2014 04:59:00 PM,06/03/2014,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,White/Orange Tabby
6,A684617,NaN,07/27/2014 09:00:00 AM,07/27/2014 09:00:00 AM,07/26/2012,Transfer,SCRP,Cat,Intact Female,2 years,Domestic Shorthair Mix,Black
7,A742354,Artemis,01/22/2017 11:56:00 AM,01/22/2017 11:56:00 AM,01/20/2010,Return to Owner,NaN,Cat,Neutered Male,7 years,Domestic Shorthair Mix,Blue/White
8,A681036,NaN,06/11/2014 05:11:00 PM,06/11/2014 05:11:00 PM,06/09/2014,Transfer,Partner,Cat,Intact Male,2 days,Domestic Shorthair Mix,Brown Tabby
9,A803149,*Birch,08/31/2019 04:26:00 PM,08/31/2019 04:26:00 PM,08/08/2019,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair,Brown Tabby
10,A698049,Luigi,03/16/2015 02:50:00 PM,03/16/2015 02:50:00 PM,06/05/2014,Transfer,Partner,Cat,Spayed Female,9 months,Domestic Medium Hair Mix,Black/White
11,A773792,NaN,06/05/2018 03:30:00 PM,06/05/2018 03:30:00 PM,05/05/2018,Euthanasia,Suffering,Cat,Intact Male,4 weeks,Domestic Shorthair Mix,Orange Tabby
12,A725795,NaN,05/03/2016 12:39:00 PM,05/03/2016 12:39:00 PM,04/15/2016,Euthanasia,Underage,Other,Unknown,2 weeks,Opossum,Gray
13,A730621,*Liza,09/10/2016 06:59:00 PM,09/10/2016 06:59:00 PM,05/18/2016,Adoption,NaN,Cat,Spayed Female,3 months,Domestic Shorthair Mix,Calico
14,A765349,Einstein,06/08/2018 01:04:00 PM,06/08/2018 01:04:00 PM,01/18/2009,Adoption,Foster,Dog,Neutered Male,9 years,Chihuahua Shorthair Mix,Tricolor
15,A760697,Star,10/26/2017 03:22:00 PM,10/26/2017 03:22:00 PM,10/23/2007,Transfer,Partner,Dog,Intact Male,10 years,Yorkshire Terrier Mix,Brown/Black
16,A767231,Millie,02/25/2018 05:19:00 PM,02/25/2018 05:19:00 PM,02/25/2017,Return to Owner,NaN,Dog,Spayed Female,1 year,Jack Russell Terrier/Chihuahua Shorthair,White/Tan
17,A758536,NaN,09/23/2017 11:09:00 AM,09/23/2017 11:09:00 AM,03/18/2017,Transfer,Snr,Cat,Intact Female,6 months,Domestic Shorthair Mix,Brown Tabby
18,A754682,Big Girl,07/23/2017 11:58:00 AM,07/23/2017 11:58:00 AM,07/22/2009,Return to Owner,NaN,Dog,Spayed Female,8 years,Great Pyrenees Mix,White
19,A801106,NaN,08/16/2019 02:05:00 PM,08/16/2019 02:05:00 PM,05/06/2019,Adoption,NaN,Cat,Neutered Male,3 months,Domestic Shorthair,Orange Tabby
20,A766700,NaN,02/15/2018 08:59:00 AM,02/15/2018 08:59:00 AM,02/15/2017,Euthanasia,Rabies Risk,Other,Unknown,1 year,Bat Mix,Brown
21,A740079,Terry,12/26/2016 01:45:00 PM,12/26/2016 01:45:00 PM,12/10/2013,Return to Owner,NaN,Dog,Neutered Male,3 years,Australian Cattle Dog Mix,Black/White
22,A757919,*Tofu,10/05/2017 03:36:00 PM,10/05/2017 03:36:00 PM,09/08/2015,Adoption,NaN,Dog,Spayed Female,2 years,Beagle Mix,Brown/White
23,A789298,*Mr Wrinkles,04/23/2019 11:59:00 AM,04/23/2019 11:59:00 AM,02/15/2019,Adoption,Foster,Dog,Neutered Male,2 months,Labrador Retriever Mix,Brown/White
24,A773866,*Nitro,08/23/2018 06:05:00 PM,08/23/2018 06:05:00 PM,06/06/2016,Adoption,NaN,Dog,Neutered Male,2 years,Labrador Retriever/Staffordshire,Black/White
25,A765701,NaN,01/25/2018 09:39:00 AM,01/25/2018 09:39:00 AM,01/25/2017,Euthanasia,Rabies Risk,Other,Unknown,1 year,Bat Mix,Brown
26,A699884,NaN,04/03/2015 04:16:00 PM,04/03/2015 04:16:00 PM,04/03/2013,Euthanasia,Suffering,Cat,Unknown,2 years,Domestic Shorthair Mix,Gray
27,A725530,King,06/09/2016 02:50:00 PM,06/09/2016 02:50:00 PM,10/30/2015,Adoption,NaN,Dog,Neutered Male,7 months,Pit Bull Mix,Brown Brindle/White
28,A722378,Canine,03/31/2016 07:08:00 PM,03/31/2016 07:08:00 PM,03/15/2010,Return to Owner,NaN,Dog,Neutered Male,6 years,German Shepherd Mix,Brown/Black
29,A707743,NaN,07/18/2015 09:00:00 AM,07/18/2015 09:00:00 AM,04/17/2015,Transfer,SCRP,Cat,Intact Male,3 months,Domestic Shorthair Mix,Black/White
...,...,...,...,...,...,...,...,...,...,...,...,...
115574,A812046,Smervo,02/19/2020 01:39:00 PM,02/19/2020 01:39:00 PM,07/15/2015,Return to Owner,NaN,Cat,Neutered Male,4 years,Domestic Shorthair,Brown Tabby
115575,A806232,Puppy,02/19/2020 01:50:00 PM,02/19/2020 01:50:00 PM,10/07/2017,Adoption,Foster,Dog,Neutered Male,2 years,Plott Hound/Australian Cattle Dog,Black
115576,A813835,NaN,02/19/2020 01:11:00 PM,02/19/2020 01:11:00 PM,02/19/2018,Euthanasia,Suffering,Other,Unknown,2 years,Coyote,Brown
115577,A797267,Osa,02/19/2020 01:43:00 PM,02/19/2020 01:43:00 PM,06/11/2013,Adoption,Foster,Cat,Spayed Female,6 years,Domestic Medium Hair,Black
115578,A813834,Ani,02/19/2020 01:10:00 PM,02/19/2020 01:10:00 PM,11/19/2018,Return to Owner,NaN,Dog,Intact Male,1 year,Border Collie,Black/White
115579,A813399,*Mildred,02/19/2020 02:05:00 PM,02/19/2020 02:05:00 PM,02/09/2018,Transfer,Partner,Dog,Intact Female,2 years,Australian Cattle Dog Mix,White/Tan
115580,A812432,Pharo,02/19/2020 02:05:00 PM,02/19/2020 02:05:00 PM,07/22/2019,Transfer,Partner,Dog,Neutered Male,6 months,Pit Bull,White/Brown
115581,A813347,Sunshine,02/19/2020 02:07:00 PM,02/19/2020 02:07:00 PM,04/08/2019,Transfer,Partner,Dog,Intact Female,10 months,Pit Bull Mix,Blue/White
115582,A813404,*Cardi B,02/19/2020 02:06:00 PM,02/19/2020 02:06:00 PM,02/09/2017,Transfer,Partner,Dog,Spayed Female,3 years,Pit Bull,Black
115583,A722780,Kev,07/13/2016 08:53:00 AM,07/13/2016 08:53:00 AM,03/22/2014,Adoption,Foster,Dog,Neutered Male,2 years,Chihuahua Shorthair Mix,Tan/Black
115584,A813405,*Offset,02/19/2020 02:06:00 PM,02/19/2020 02:06:00 PM,02/09/2019,Transfer,Partner,Dog,Neutered Male,1 year,Pit Bull,Black
115585,A813490,Bean,02/19/2020 04:23:00 PM,02/19/2020 04:23:00 PM,02/11/2019,Adoption,NaN,Dog,Neutered Male,1 year,Jack Russell Terrier/Chihuahua Shorthair,White/Brown
115586,A813481,Malo,02/19/2020 04:51:00 PM,02/19/2020 04:51:00 PM,02/11/2019,Adoption,NaN,Dog,Neutered Male,1 year,Pit Bull,White/Blue
115587,A810929,Adelaide,02/19/2020 04:39:00 PM,02/19/2020 04:39:00 PM,12/23/2018,Adoption,NaN,Dog,Spayed Female,1 year,Australian Cattle Dog,White
115588,A813320,*Birch,02/19/2020 04:58:00 PM,02/19/2020 04:58:00 PM,02/07/2018,Adoption,NaN,Dog,Spayed Female,2 years,Alaskan Husky,White
115589,A813640,NaN,02/19/2020 05:24:00 PM,02/19/2020 05:24:00 PM,02/14/2019,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair,Black/White
115590,A813552,Bean,02/19/2020 05:50:00 PM,02/19/2020 05:50:00 PM,05/13/2019,Adoption,NaN,Dog,Spayed Female,9 months,German Shepherd,Brown/Tan
115591,A813562,Banjo,02/19/2020 05:20:00 PM,02/19/2020 05:20:00 PM,02/13/2018,Adoption,NaN,Dog,Neutered Male,2 years,Catahoula Mix,Brown Merle/White
115592,A812819,*Cobb,02/19/2020 07:26:00 PM,02/19/2020 07:26:00 PM,12/22/2019,Adoption,NaN,Dog,Neutered Male,1 month,Labrador Retriever Mix,Brown Brindle/White
115593,A813735,Capo,02/19/2020 07:08:00 PM,02/19/2020 07:08:00 PM,02/17/2015,Return to Owner,NaN,Dog,Intact Male,5 years,German Shepherd,Cream/Black
115594,A813737,Reyna,02/19/2020 07:07:00 PM,02/19/2020 07:07:00 PM,02/17/2017,Return to Owner,NaN,Dog,Intact Female,3 years,German Shepherd,Tan/Black
115595,A812900,Severus,02/04/2020 07:02:00 PM,02/04/2020 07:02:00 PM,02/19/2016,Adoption,NaN,Dog,Neutered Male,3 years,Pit Bull,Black/White
115596,A811038,*Jim,02/19/2020 06:02:00 PM,02/19/2020 06:02:00 PM,12/24/2019,Adoption,Foster,Dog,Neutered Male,1 month,Labrador Retriever Mix,Tan/White
115597,A812047,Ru Ru,01/21/2020 05:13:00 PM,01/21/2020 05:13:00 PM,01/15/2018,Adoption,NaN,Dog,Neutered Male,2 years,Chihuahua Shorthair,Brown/Tan
115598,A813564,Teddy,02/19/2020 06:32:00 PM,02/19/2020 06:32:00 PM,02/13/2018,Adoption,NaN,Dog,Neutered Male,2 years,Australian Kelpie,Tricolor
115599,A753695,Zeus,02/19/2020 06:52:00 PM,02/19/2020 06:52:00 PM,07/09/2014,Return to Owner,NaN,Dog,Neutered Male,5 years,Pit Bull Mix,Blue
115600,A809880,Donte,02/19/2020 06:45:00 PM,02/19/2020 06:45:00 PM,12/03/2018,Adoption,NaN,Dog,Neutered Male,1 year,Siberian Husky,Cream/Black
115601,A812822,*Waldorf,02/19/2020 06:58:00 PM,02/19/2020 06:58:00 PM,12/22/2019,Adoption,Foster,Dog,Spayed Female,1 month,Labrador Retriever Mix,Black/Blue Tick
115602,A810818,Papi,02/19/2020 06:27:00 PM,02/19/2020 06:27:00 PM,10/06/2019,Adoption,NaN,Dog,Neutered Male,4 months,Pointer,Black/Blue Tick
115603,A813147,Doggy,02/11/2020 12:11:00 PM,02/11/2020 12:11:00 PM,02/05/2018,Return to Owner,NaN,Dog,Intact Male,2 years,Australian Kelpie Mix,Black/Brown

### 1. Applying and using map and applymap from the Pandas library

The Pandas library has several useful tools built in. Let's explore some of them.

#### DataFrame.applymap() and Series.map()

The ```.applymap()``` method takes a function as input that it will then apply to every entry in the dataframe.

In [7]:
animals.applymap(str).head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A794011,Chunk,05/08/2019 06:20:00 PM,05/08/2019 06:20:00 PM,05/02/2017,Rto-Adopt,nan,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,07/18/2018 04:02:00 PM,07/18/2018 04:02:00 PM,07/12/2017,Adoption,nan,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A720371,Moose,02/13/2016 05:59:00 PM,02/13/2016 05:59:00 PM,10/08/2015,Adoption,nan,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
3,A674754,nan,03/18/2014 11:47:00 AM,03/18/2014 11:47:00 AM,03/12/2014,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby
4,A689724,*Donatello,10/18/2014 06:52:00 PM,10/18/2014 06:52:00 PM,08/01/2014,Adoption,nan,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Black

The .map() method takes a function as input that it will then apply to every entry in the Series.

In [11]:
# This line of code will split the IDs into two parts and add the parts as new columns.

animals[['Animal ID Prefix', 'Animal ID Num']] = animals['Animal ID'].str.split('A', expand=True)

In [12]:
animals

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color,Animal ID Prefix,Animal ID Num
0,A794011,Chunk,05/08/2019 06:20:00 PM,05/08/2019 06:20:00 PM,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White,,794011
1,A776359,Gizmo,07/18/2018 04:02:00 PM,07/18/2018 04:02:00 PM,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown,,776359
2,A720371,Moose,02/13/2016 05:59:00 PM,02/13/2016 05:59:00 PM,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff,,720371
3,A674754,NaN,03/18/2014 11:47:00 AM,03/18/2014 11:47:00 AM,03/12/2014,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby,,674754
4,A689724,*Donatello,10/18/2014 06:52:00 PM,10/18/2014 06:52:00 PM,08/01/2014,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Black,,689724
5,A680969,*Zeus,08/05/2014 04:59:00 PM,08/05/2014 04:59:00 PM,06/03/2014,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,White/Orange Tabby,,680969
6,A684617,NaN,07/27/2014 09:00:00 AM,07/27/2014 09:00:00 AM,07/26/2012,Transfer,SCRP,Cat,Intact Female,2 years,Domestic Shorthair Mix,Black,,684617
7,A742354,Artemis,01/22/2017 11:56:00 AM,01/22/2017 11:56:00 AM,01/20/2010,Return to Owner,NaN,Cat,Neutered Male,7 years,Domestic Shorthair Mix,Blue/White,,742354
8,A681036,NaN,06/11/2014 05:11:00 PM,06/11/2014 05:11:00 PM,06/09/2014,Transfer,Partner,Cat,Intact Male,2 days,Domestic Shorthair Mix,Brown Tabby,,681036
9,A803149,*Birch,08/31/2019 04:26:00 PM,08/31/2019 04:26:00 PM,08/08/2019,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair,Brown Tabby,,803149
10,A698049,Luigi,03/16/2015 02:50:00 PM,03/16/2015 02:50:00 PM,06/05/2014,Transfer,Partner,Cat,Spayed Female,9 months,Domestic Medium Hair Mix,Black/White,,698049
11,A773792,NaN,06/05/2018 03:30:00 PM,06/05/2018 03:30:00 PM,05/05/2018,Euthanasia,Suffering,Cat,Intact Male,4 weeks,Domestic Shorthair Mix,Orange Tabby,,773792
12,A725795,NaN,05/03/2016 12:39:00 PM,05/03/2016 12:39:00 PM,04/15/2016,Euthanasia,Underage,Other,Unknown,2 weeks,Opossum,Gray,,725795
13,A730621,*Liza,09/10/2016 06:59:00 PM,09/10/2016 06:59:00 PM,05/18/2016,Adoption,NaN,Cat,Spayed Female,3 months,Domestic Shorthair Mix,Calico,,730621
14,A765349,Einstein,06/08/2018 01:04:00 PM,06/08/2018 01:04:00 PM,01/18/2009,Adoption,Foster,Dog,Neutered Male,9 years,Chihuahua Shorthair Mix,Tricolor,,765349
15,A760697,Star,10/26/2017 03:22:00 PM,10/26/2017 03:22:00 PM,10/23/2007,Transfer,Partner,Dog,Intact Male,10 years,Yorkshire Terrier Mix,Brown/Black,,760697
16,A767231,Millie,02/25/2018 05:19:00 PM,02/25/2018 05:19:00 PM,02/25/2017,Return to Owner,NaN,Dog,Spayed Female,1 year,Jack Russell Terrier/Chihuahua Shorthair,White/Tan,,767231
17,A758536,NaN,09/23/2017 11:09:00 AM,09/23/2017 11:09:00 AM,03/18/2017,Transfer,Snr,Cat,Intact Female,6 months,Domestic Shorthair Mix,Brown Tabby,,758536
18,A754682,Big Girl,07/23/2017 11:58:00 AM,07/23/2017 11:58:00 AM,07/22/2009,Return to Owner,NaN,Dog,Spayed Female,8 years,Great Pyrenees Mix,White,,754682
19,A801106,NaN,08/16/2019 02:05:00 PM,08/16/2019 02:05:00 PM,05/06/2019,Adoption,NaN,Cat,Neutered Male,3 months,Domestic Shorthair,Orange Tabby,,801106
20,A766700,NaN,02/15/2018 08:59:00 AM,02/15/2018 08:59:00 AM,02/15/2017,Euthanasia,Rabies Risk,Other,Unknown,1 year,Bat Mix,Brown,,766700
21,A740079,Terry,12/26/2016 01:45:00 PM,12/26/2016 01:45:00 PM,12/10/2013,Return to Owner,NaN,Dog,Neutered Male,3 years,Australian Cattle Dog Mix,Black/White,,740079
22,A757919,*Tofu,10/05/2017 03:36:00 PM,10/05/2017 03:36:00 PM,09/08/2015,Adoption,NaN,Dog,Spayed Female,2 years,Beagle Mix,Brown/White,,757919
23,A789298,*Mr Wrinkles,04/23/2019 11:59:00 AM,04/23/2019 11:59:00 AM,02/15/2019,Adoption,Foster,Dog,Neutered Male,2 months,Labrador Retriever Mix,Brown/White,,789298
24,A773866,*Nitro,08/23/2018 06:05:00 PM,08/23/2018 06:05:00 PM,06/06/2016,Adoption,NaN,Dog,Neutered Male,2 years,Labrador Retriever/Staffordshire,Black/White,,773866
25,A765701,NaN,01/25/2018 09:39:00 AM,01/25/2018 09:39:00 AM,01/25/2017,Euthanasia,Rabies Risk,Other,Unknown,1 year,Bat Mix,Brown,,765701
26,A699884,NaN,04/03/2015 04:16:00 PM,04/03/2015 04:16:00 PM,04/03/2013,Euthanasia,Suffering,Cat,Unknown,2 years,Domestic Shorthair Mix,Gray,,699884
27,A725530,King,06/09/2016 02:50:00 PM,06/09/2016 02:50:00 PM,10/30/2015,Adoption,NaN,Dog,Neutered Male,7 months,Pit Bull Mix,Brown Brindle/White,,725530
28,A722378,Canine,03/31/2016 07:08:00 PM,03/31/2016 07:08:00 PM,03/15/2010,Return to Owner,NaN,Dog,Neutered Male,6 years,German Shepherd Mix,Brown/Black,,722378
29,A707743,NaN,07/18/2015 09:00:00 AM,07/18/2015 09:00:00 AM,04/17/2015,Transfer,SCRP,Cat,Intact Male,3 months,Domestic Shorthair Mix,Black/White,,707743
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115574,A812046,Smervo,02/19/2020 01:39:00 PM,02/19/2020 01:39:00 PM,07/15/2015,Return to Owner,NaN,Cat,Neutered Male,4 years,Domestic Shorthair,Brown Tabby,,812046
115575,A806232,Puppy,02/19/2020 01:50:00 PM,02/19/2020 01:50:00 PM,10/07/2017,Adoption,Foster,Dog,Neutered Male,2 years,Plott Hound/Australian Cattle Dog,Black,,806232
115576,A813835,NaN,02/19/2020 01:11:00 PM,02/19/2020 01:11:00 PM,02/19/2018,Euthanasia,Suffering,Other,Unknown,2 years,Coyote,Brown,,813835
115577,A797267,Osa,02/19/2020 01:43:00 PM,02/19/2020 01:43:00 PM,06/11/2013,Adoption,Foster,Cat,Spayed Female,6 years,Domestic Medium Hair,Black,,797267
115578,A813834,Ani,02/19/2020 01:10:00 PM,02/19/2020 01:10:00 PM,11/19/2018,Return to Owner,NaN,Dog,Intact Male,1 year,Border Collie,Black/White,,813834
115579,A813399,*Mildred,02/19/2020 02:05:00 PM,02/19/2020 02:05:00 PM,02/09/2018,Transfer,Partner,Dog,Intact Female,2 years,Australian Cattle Dog Mix,White/Tan,,813399
115580,A812432,Pharo,02/19/2020 02:05:00 PM,02/19/2020 02:05:00 PM,07/22/2019,Transfer,Partner,Dog,Neutered Male,6 months,Pit Bull,White/Brown,,812432
115581,A813347,Sunshine,02/19/2020 02:07:00 PM,02/19/2020 02:07:00 PM,04/08/2019,Transfer,Partner,Dog,Intact Female,10 months,Pit Bull Mix,Blue/White,,813347
115582,A813404,*Cardi B,02/19/2020 02:06:00 PM,02/19/2020 02:06:00 PM,02/09/2017,Transfer,Partner,Dog,Spayed Female,3 years,Pit Bull,Black,,813404
115583,A722780,Kev,07/13/2016 08:53:00 AM,07/13/2016 08:53:00 AM,03/22/2014,Adoption,Foster,Dog,Neutered Male,2 years,Chihuahua Shorthair Mix,Tan/Black,,722780
115584,A813405,*Offset,02/19/2020 02:06:00 PM,02/19/2020 02:06:00 PM,02/09/2019,Transfer,Partner,Dog,Neutered Male,1 year,Pit Bull,Black,,813405
115585,A813490,Bean,02/19/2020 04:23:00 PM,02/19/2020 04:23:00 PM,02/11/2019,Adoption,NaN,Dog,Neutered Male,1 year,Jack Russell Terrier/Chihuahua Shorthair,White/Brown,,813490
115586,A813481,Malo,02/19/2020 04:51:00 PM,02/19/2020 04:51:00 PM,02/11/2019,Adoption,NaN,Dog,Neutered Male,1 year,Pit Bull,White/Blue,,813481
115587,A810929,Adelaide,02/19/2020 04:39:00 PM,02/19/2020 04:39:00 PM,12/23/2018,Adoption,NaN,Dog,Spayed Female,1 year,Australian Cattle Dog,White,,810929
115588,A813320,*Birch,02/19/2020 04:58:00 PM,02/19/2020 04:58:00 PM,02/07/2018,Adoption,NaN,Dog,Spayed Female,2 years,Alaskan Husky,White,,813320
115589,A813640,NaN,02/19/2020 05:24:00 PM,02/19/2020 05:24:00 PM,02/14/2019,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair,Black/White,,813640
115590,A813552,Bean,02/19/2020 05:50:00 PM,02/19/2020 05:50:00 PM,05/13/2019,Adoption,NaN,Dog,Spayed Female,9 months,German Shepherd,Brown/Tan,,813552
115591,A813562,Banjo,02/19/2020 05:20:00 PM,02/19/2020 05:20:00 PM,02/13/2018,Adoption,NaN,Dog,Neutered Male,2 years,Catahoula Mix,Brown Merle/White,,813562
115592,A812819,*Cobb,02/19/2020 07:26:00 PM,02/19/2020 07:26:00 PM,12/22/2019,Adoption,NaN,Dog,Neutered Male,1 month,Labrador Retriever Mix,Brown Brindle/White,,812819
115593,A813735,Capo,02/19/2020 07:08:00 PM,02/19/2020 07:08:00 PM,02/17/2015,Return to Owner,NaN,Dog,Intact Male,5 years,German Shepherd,Cream/Black,,813735
115594,A813737,Reyna,02/19/2020 07:07:00 PM,02/19/2020 07:07:00 PM,02/17/2017,Return to Owner,NaN,Dog,Intact Female,3 years,German Shepherd,Tan/Black,,813737
115595,A812900,Severus,02/04/2020 07:02:00 PM,02/04/2020 07:02:00 PM,02/19/2016,Adoption,NaN,Dog,Neutered Male,3 years,Pit Bull,Black/White,,812900
115596,A811038,*Jim,02/19/2020 06:02:00 PM,02/19/2020 06:02:00 PM,12/24/2019,Adoption,Foster,Dog,Neutered Male,1 month,Labrador Retriever Mix,Tan/White,,811038
115597,A812047,Ru Ru,01/21/2020 05:13:00 PM,01/21/2020 05:13:00 PM,01/15/2018,Adoption,NaN,Dog,Neutered Male,2 years,Chihuahua Shorthair,Brown/Tan,,812047
115598,A813564,Teddy,02/19/2020 06:32:00 PM,02/19/2020 06:32:00 PM,02/13/2018,Adoption,NaN,Dog,Neutered Male,2 years,Australian Kelpie,Tricolor,,813564
115599,A753695,Zeus,02/19/2020 06:52:00 PM,02/19/2020 06:52:00 PM,07/09/2014,Return to Owner,NaN,Dog,Neutered Male,5 years,Pit Bull Mix,Blue,,753695
115600,A809880,Donte,02/19/2020 06:45:00 PM,02/19/2020 06:45:00 PM,12/03/2018,Adoption,NaN,Dog,Neutered Male,1 year,Siberian Husky,Cream/Black,,809880
115601,A812822,*Waldorf,02/19/2020 06:58:00 PM,02/19/2020 06:58:00 PM,12/22/2019,Adoption,Foster,Dog,Spayed Female,1 month,Labrador Retriever Mix,Black/Blue Tick,,812822
115602,A810818,Papi,02/19/2020 06:27:00 PM,02/19/2020 06:27:00 PM,10/06/2019,Adoption,NaN,Dog,Neutered Male,4 months,Pointer,Black/Blue Tick,,810818
115603,A813147,Doggy,02/11/2020 12:11:00 PM,02/11/2020 12:11:00 PM,02/05/2018,Return to Owner,NaN,Dog,Intact Male,2 years,Australian Kelpie Mix,Black/Brown,,813147

In [13]:
# Now: How can we convert the Animal ID Num column to integers?

animals['Animal ID Num'] = animals['Animal ID Num'].map(int)

In [15]:
animals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115604 entries, 0 to 115603
Data columns (total 14 columns):
Animal ID           115604 non-null object
Name                79390 non-null object
DateTime            115604 non-null object
MonthYear           115604 non-null object
Date of Birth       115604 non-null object
Outcome Type        115598 non-null object
Outcome Subtype     52230 non-null object
Animal Type         115604 non-null object
Sex upon Outcome    115601 non-null object
Age upon Outcome    115576 non-null object
Breed               115604 non-null object
Color               115604 non-null object
Animal ID Prefix    115604 non-null object
Animal ID Num       115604 non-null int64
dtypes: int64(1), object(13)
memory usage: 12.3+ MB

Or we could have just used the `.astype()` method:

In [16]:
animals['Animal ID Num'] = animals['Animal ID Num'].astype(int)

#### Anonymous Functions (Lambda Abstraction)

Simple functions can be defined right in the function call. This is called 'lambda abstraction'; the function thus defined has no name and hence is "anonymous".

In [19]:
animals['Animal ID Num'].map(lambda x: x*2)[:4]

0    1588022
1    1552718
2    1440742
3    1349508
Name: Animal ID Num, dtype: int64

**Exercise: Use an anonymous function to add 'approximately' in front of the entries in Age upon Outcome**

In [ ]:
# Your code here!

What went wrong? How can we fix it?

### 2. Methods for Re-Organizing DataFrames: .groupby()

Those of you familiar with SQL have probably used the GROUP BY command. (And if you haven't, you'll see it very soon!) Pandas has this, too.

The .groupby() method is especially useful for aggregate functions applied to the data grouped in particular ways.

In [20]:
animals.groupby('Animal Type')

#### .groups and .get_group()

In [21]:
animals.groupby('Animal Type').groups

{'Bird': Int64Index([   178,    460,    843,    880,   1106,   1938,   1973,   2193,
               2260,   2352,
             ...
             112768, 112848, 113406, 113590, 113640, 113650, 114487, 114615,
             114909, 114912],
            dtype='int64', length=539),
 'Cat': Int64Index([     0,      3,      4,      5,      6,      7,      8,      9,
                 10,     11,
             ...
             115522, 115523, 115526, 115537, 115538, 115552, 115554, 115555,
             115574, 115577],
            dtype='int64', length=43482),
 'Dog': Int64Index([     1,      2,     14,     15,     16,     18,     21,     22,
                 23,     24,
             ...
             115594, 115595, 115596, 115597, 115598, 115599, 115600, 115601,
             115602, 115603],
            dtype='int64', length=65651),
 'Livestock': Int64Index([  2087,   8935,  11581,  12595,  22997,  27928,  33483,  44421,
              45189,  49504,  67426,  72863,  85749,  90668,  93594, 102444,
             111412, 114518],
            dtype='int64'),
 'Other': Int64Index([    12,     20,     25,     32,     36,     43,     60,     61,
                 66,     87,
             ...
             115352, 115402, 115409, 115423, 115444, 115468, 115486, 115541,
             115550, 115576],
            dtype='int64', length=5914)}

In [22]:
animals.groupby('Animal Type').get_group('Livestock')

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color,Animal ID Prefix,Animal ID Num
2087,A668167,NaN,11/30/2013 12:18:00 PM,11/30/2013 12:18:00 PM,05/28/2013,Return to Owner,NaN,Livestock,Intact Female,6 months,Pig Mix,Black/White,,668167
8935,A803469,NaN,09/08/2019 08:00:00 AM,09/08/2019 08:00:00 AM,09/01/2017,Return to Owner,NaN,Livestock,Intact Female,2 years,Pygmy,Tan/Black,,803469
11581,A788252,Bacon,01/29/2019 01:25:00 PM,01/29/2019 01:25:00 PM,09/29/2018,Return to Owner,NaN,Livestock,Unknown,4 months,Pig Mix,Gray,,788252
12595,A764822,NaN,02/12/2018 04:51:00 PM,02/12/2018 04:51:00 PM,01/06/2016,Adoption,NaN,Livestock,Intact Female,2 years,Potbelly Pig Mix,White,,764822
22997,A742204,NaN,03/15/2017 12:49:00 PM,03/15/2017 12:49:00 PM,07/17/2016,Transfer,Partner,Livestock,Intact Female,7 months,Potbelly Pig Mix,Black/White,,742204
27928,A673651,NaN,03/11/2014 02:39:00 PM,03/11/2014 02:39:00 PM,02/28/2013,Adoption,Foster,Livestock,Neutered Male,1 year,Pig Mix,Black/White,,673651
33483,A718910,NaN,01/27/2016 12:00:00 AM,01/27/2016 12:00:00 AM,01/09/2015,Transfer,Partner,Livestock,Intact Male,1 year,Pig Mix,White,,718910
44421,A782370,NaN,10/14/2018 02:12:00 PM,10/14/2018 02:12:00 PM,09/29/2018,Died,At Vet,Livestock,Unknown,2 weeks,Pig,Black,,782370
45189,A778971,NaN,04/02/2019 11:35:00 AM,04/02/2019 11:35:00 AM,04/23/2018,Adoption,Foster,Livestock,Intact Female,11 months,Pig Mix,Gray/Black,,778971
49504,A811675,NaN,01/08/2020 09:41:00 AM,01/08/2020 09:41:00 AM,01/07/2018,NaN,NaN,Livestock,Intact Female,NaN,Goat,Black/White,,811675
67426,A701250,NaN,05/11/2015 12:00:00 AM,05/11/2015 12:00:00 AM,04/26/2013,Transfer,Partner,Livestock,Intact Female,2 years,Pig Mix,Pink,,701250
72863,A674214,NaN,03/29/2014 02:00:00 PM,03/29/2014 02:00:00 PM,02/22/2014,Adoption,Foster,Livestock,Unknown,5 weeks,Pig Mix,Black,,674214
85749,A715047,NaN,12/07/2015 12:00:00 AM,12/07/2015 12:00:00 AM,10/30/2014,Transfer,Partner,Livestock,Unknown,1 year,Goat Mix,Brown,,715047
90668,A795191,Loki,05/18/2019 03:37:00 PM,05/18/2019 03:37:00 PM,11/17/2018,Return to Owner,NaN,Livestock,Intact Male,5 months,Pig,White,,795191
93594,A663228,NaN,10/03/2013 10:59:00 AM,10/03/2013 10:59:00 AM,09/15/2008,Transfer,Partner,Livestock,Intact Male,5 years,Miniature,Liver/Cream,,663228
102444,A778432,NaN,04/02/2019 11:35:00 AM,04/02/2019 11:35:00 AM,05/14/2018,Adoption,Foster,Livestock,Intact Female,10 months,Pig Mix,White/Black,,778432
111412,A769204,NaN,03/26/2019 10:32:00 AM,03/26/2019 10:32:00 AM,10/01/2017,Adoption,Foster,Livestock,Intact Male,1 year,Sheep Mix,Black/White,,769204
114518,A679540,NaN,06/17/2014 10:30:00 AM,06/17/2014 10:30:00 AM,11/22/2013,Transfer,Partner,Livestock,Intact Male,6 months,Goat Mix,Black,,679540

#### Aggregating

In [23]:
animals.groupby('Animal Type').std()

             Animal ID Num
Animal Type
Bird          46031.824323
Cat           49606.981267
Dog           59746.226032
Livestock     52471.760994
Other         42326.302901

#### Datetime Objects

'Datetime' is a special data type for dates. And we can convert an appropriately formatted variable to the datetime type simply by calling `pd.to_datetime()`.

In [24]:
pd.to_datetime(animals['Date of Birth'])

0        2017-05-02
1        2017-07-12
2        2015-10-08
3        2014-03-12
4        2014-08-01
5        2014-06-03
6        2012-07-26
7        2010-01-20
8        2014-06-09
9        2019-08-08
10       2014-06-05
11       2018-05-05
12       2016-04-15
13       2016-05-18
14       2009-01-18
15       2007-10-23
16       2017-02-25
17       2017-03-18
18       2009-07-22
19       2019-05-06
20       2017-02-15
21       2013-12-10
22       2015-09-08
23       2019-02-15
24       2016-06-06
25       2017-01-25
26       2013-04-03
27       2015-10-30
28       2010-03-15
29       2015-04-17
            ...
115574   2015-07-15
115575   2017-10-07
115576   2018-02-19
115577   2013-06-11
115578   2018-11-19
115579   2018-02-09
115580   2019-07-22
115581   2019-04-08
115582   2017-02-09
115583   2014-03-22
115584   2019-02-09
115585   2019-02-11
115586   2019-02-11
115587   2018-12-23
115588   2018-02-07
115589   2019-02-14
115590   2019-05-13
115591   2018-02-13
115592   2019-12-22
115593   2015-02-17
115594   2017-02-17
115595   2016-02-19
115596   2019-12-24
115597   2018-01-15
115598   2018-02-13
115599   2014-07-09
115600   2018-12-03
115601   2019-12-22
115602   2019-10-06
115603   2018-02-05
Name: Date of Birth, Length: 115604, dtype: datetime64[ns]

**Exercise: Find the latest date of birth per animal type.**

In [25]:
# First redefine Date of Birth as a series of datetime objects.
# Then group by Animal Type and calculate the max.

### 3. Reshaping a DataFrame

#### .pivot()

Those of you familiar with Excel have probably used Pivot Tables. Pandas has a similar functionality.

In [26]:
animals.pivot(values='Age upon Outcome', columns='Animal Type').head()

Animal Type Bird       Cat       Dog Livestock Other
0            NaN   2 years       NaN       NaN   NaN
1            NaN       NaN    1 year       NaN   NaN
2            NaN       NaN  4 months       NaN   NaN
3            NaN    6 days       NaN       NaN   NaN
4            NaN  2 months       NaN       NaN   NaN

### 4. Methods for Combining DataFrames: .join(), .merge(), .concat(), .melt()

#### .join()

In [27]:
toy1 = pd.DataFrame([[63, 142], [33, 47]], columns=['age', 'HP'])
toy2 = pd.DataFrame([[63, 100], [33, 200]], columns=['age', 'MP'])

In [28]:
toy1

   age   HP
0   63  142
1   33   47

In [29]:
toy2

   age   MP
0   63  100
1   33  200

In [30]:
toy1.set_index('age').join(toy2.set_index('age'))

      HP   MP
age
63   142  100
33    47  200

For more on this method, check out the [doc](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.join.html)!

#### .merge()

In [31]:
ds_chars = pd.read_csv('ds_chars.csv', index_col=0)
ds_chars

     name   HP home_state
0    greg  200         WA
1   miles  200         WA
2    alan  170         TX
3  alison  300         DC
4  rachel  200         TX

In [32]:
states = pd.read_csv('states.csv', index_col=0)
states

  state   nickname     capital
0    WA  evergreen     Olympia
1    TX      alamo      Austin
2    DC   district  Washington
3    OH    buckeye    Columbus
4    OR     beaver       Salem

In [33]:
ds_chars.merge(states, left_on='home_state', right_on='state', how='inner')

     name   HP home_state state   nickname     capital
0    greg  200         WA    WA  evergreen     Olympia
1   miles  200         WA    WA  evergreen     Olympia
2    alan  170         TX    TX      alamo      Austin
3  rachel  200         TX    TX      alamo      Austin
4  alison  300         DC    DC   district  Washington

#### pd.concat()

This method takes a *list* of pandas objects as arguments.

N.B. The cell below will likely produce a **Deprecation Warning**.

In [34]:
ds_full = pd.concat([ds_chars, states])
ds_full

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

      HP     capital home_state    name   nickname state
0  200.0         NaN         WA    greg        NaN   NaN
1  200.0         NaN         WA   miles        NaN   NaN
2  170.0         NaN         TX    alan        NaN   NaN
3  300.0         NaN         DC  alison        NaN   NaN
4  200.0         NaN         TX  rachel        NaN   NaN
0    NaN     Olympia        NaN     NaN  evergreen    WA
1    NaN      Austin        NaN     NaN      alamo    TX
2    NaN  Washington        NaN     NaN   district    DC
3    NaN    Columbus        NaN     NaN    buckeye    OH
4    NaN       Salem        NaN     NaN     beaver    OR

`pd.concat()`––and many other pandas operations––make use of an `axis` parameter. For this particular method I need to specify whether I want to concatenate the DataFrames *row-wise* (`axis=0`) or *column-wise* (`axis=1`). The default is `axis=0`, so let's override that!

#### pd.melt()

Melting removes the structure from your DataFrame and puts the data in a 'variable' and 'value' format.

In [35]:
pd.melt(ds_full)

      variable       value
0           HP         200
1           HP         200
2           HP         170
3           HP         300
4           HP         200
5           HP         NaN
6           HP         NaN
7           HP         NaN
8           HP         NaN
9           HP         NaN
10     capital         NaN
11     capital         NaN
12     capital         NaN
13     capital         NaN
14     capital         NaN
15     capital     Olympia
16     capital      Austin
17     capital  Washington
18     capital    Columbus
19     capital       Salem
20  home_state          WA
21  home_state          WA
22  home_state          TX
23  home_state          DC
24  home_state          TX
25  home_state         NaN
26  home_state         NaN
27  home_state         NaN
28  home_state         NaN
29  home_state         NaN
30        name        greg
31        name       miles
32        name        alan
33        name      alison
34        name      rachel
35        name         NaN
36        name         NaN
37        name         NaN
38        name         NaN
39        name         NaN
40    nickname         NaN
41    nickname         NaN
42    nickname         NaN
43    nickname         NaN
44    nickname         NaN
45    nickname   evergreen
46    nickname       alamo
47    nickname    district
48    nickname     buckeye
49    nickname      beaver
50       state         NaN
51       state         NaN
52       state         NaN
53       state         NaN
54       state         NaN
55       state          WA
56       state          TX
57       state          DC
58       state          OH
59       state          OR

### 5. Making Use of Categories: One-Hot Encoding

Pandas has a one-hot encoder called `get_dummies()`, which is good for exploratory data analysis (EDA).

This might be good to use if we're in the **data-understanding** stage (Stage 2) of our CRISP-DM process.

We can call it on a DataFrame as a whole or on a Series (column).

In [37]:
pd.get_dummies(animals['Animal Type'])

        Bird  Cat  Dog  Livestock  Other
0          0    1    0          0      0
1          0    0    1          0      0
2          0    0    1          0      0
3          0    1    0          0      0
4          0    1    0          0      0
5          0    1    0          0      0
6          0    1    0          0      0
7          0    1    0          0      0
8          0    1    0          0      0
9          0    1    0          0      0
10         0    1    0          0      0
11         0    1    0          0      0
12         0    0    0          0      1
13         0    1    0          0      0
14         0    0    1          0      0
15         0    0    1          0      0
16         0    0    1          0      0
17         0    1    0          0      0
18         0    0    1          0      0
19         0    1    0          0      0
20         0    0    0          0      1
21         0    0    1          0      0
22         0    0    1          0      0
23         0    0    1          0      0
24         0    0    1          0      0
25         0    0    0          0      1
26         0    1    0          0      0
27         0    0    1          0      0
28         0    0    1          0      0
29         0    1    0          0      0
...      ...  ...  ...        ...    ...
115574     0    1    0          0      0
115575     0    0    1          0      0
115576     0    0    0          0      1
115577     0    1    0          0      0
115578     0    0    1          0      0
115579     0    0    1          0      0
115580     0    0    1          0      0
115581     0    0    1          0      0
115582     0    0    1          0      0
115583     0    0    1          0      0
115584     0    0    1          0      0
115585     0    0    1          0      0
115586     0    0    1          0      0
115587     0    0    1          0      0
115588     0    0    1          0      0
115589     0    0    1          0      0
115590     0    0    1          0      0
115591     0    0    1          0      0
115592     0    0    1          0      0
115593     0    0    1          0      0
115594     0    0    1          0      0
115595     0    0    1          0      0
115596     0    0    1          0      0
115597     0    0    1          0      0
115598     0    0    1          0      0
115599     0    0    1          0      0
115600     0    0    1          0      0
115601     0    0    1          0      0
115602     0    0    1          0      0
115603     0    0    1          0      0

[115604 rows x 5 columns]

If however we're in a later stage of the process and we're interested, say, in preparing a data pipeline, `pandas.get_dummies()` will prove inferior to other tools.

In practice, we will **not** use `pandas.get_dummies()`. The library Scikit-Learn (`sklearn`, included with your Anaconda installation) has a `OneHotEncoder` class that creates an object that persists. This makes it much more apt for production environments, and so it's good to get in the habit of using it.

Ultimately, we will use **many** tools from sklearn.

In [38]:
from sklearn.preprocessing import OneHotEncoder

In [41]:
ohe = OneHotEncoder()

In [42]:
ohe.fit(animals[['Animal Type']])

OneHotEncoder(categorical_features=None, categories=None, drop=None,
              dtype=<class 'numpy.float64'>, handle_unknown='error',
              n_values=None, sparse=True)

Now that the `OneHotEncoder` has been fitted to our data, it has newly available attributes and methods. In particular, it has access to the different categories that we're replacing:

In [43]:
ohe.get_feature_names()

array(['x0_Bird', 'x0_Cat', 'x0_Dog', 'x0_Livestock', 'x0_Other'],
      dtype=object)

We'll have much more to say about `sklearn` syntax and about Python's object structure. But let's now transform our data to see what the new table looks like:

In [44]:
ohe.transform(animals[['Animal Type']])

<115604x5 sparse matrix of type '<class 'numpy.float64'>'
	with 115604 stored elements in Compressed Sparse Row format>

For the sake of saving storage space, the return is a **sparse matrix**, but we can "re-inflate it if we want to see it in tabular form:

In [45]:
types_encoded = ohe.transform(animals[['Animal Type']]).todense()
types_encoded

matrix([[0., 1., 0., 0., 0.],
        [0., 0., 1., 0., 0.],
        [0., 0., 1., 0., 0.],
        ...,
        [0., 0., 1., 0., 0.],
        [0., 0., 1., 0., 0.],
        [0., 0., 1., 0., 0.]])

Let's put it into a DataFrame:

In [46]:
pd.DataFrame(types_encoded, columns=ohe.get_feature_names()).head()

   x0_Bird  x0_Cat  x0_Dog  x0_Livestock  x0_Other
0      0.0     1.0     0.0           0.0       0.0
1      0.0     0.0     1.0           0.0       0.0
2      0.0     0.0     1.0           0.0       0.0
3      0.0     1.0     0.0           0.0       0.0
4      0.0     1.0     0.0           0.0       0.0